<div class="container-fluid bg-big">
	<div class="row bg-top">
		<div class="col-lg-2 col-10 offset-lg-0 offset-1">
			<img class="img-fluid" src="https://res.cloudinary.com/aseed/image/upload/v1590079032/ntchina/logo_traglh.png" alt="">
		</div>
		<div class="col-lg-10 col-12">
			<ul class="nav float-right text-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">
    	<i class="fas fa-user"></i><br>
    Devenir donneur
	</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
    	<i class="fas fa-search"></i><br>
    Trouver un donneur
	</a>
  </li>
</ul>
		</div>
	</div>
	<div class="row bg-middle">
		<div class="col-lg-10 offset-lg-1 text-center">
			<div class="row">
				<div class="col-lg-12 m-top m-bottom">
					<h1 class="grand-titre">
						tendez votre main, sauvez une vie.
					</h1>
					<h4 class="text-bold">
					Faites la différence avec vos collègues de travail, <br>
					vos amis, vos coéquipiers ou votre communauté.
					</h4>
				</div>
				<div class="col-lg-6 text-center">
					<img class="img-fluid selekele" src="https://res.cloudinary.com/aseed/image/upload/v1590078088/ntchina/pesa_x5azsi.jpg" alt="">
					<h4>Devenir donneur</h4>
				</div>
				<div class="col-lg-6 text-center">
					<img class="img-fluid selekele" src="https://res.cloudinary.com/aseed/image/upload/v1590078088/ntchina/luka_fhebg5.jpg" alt="">
					<h4>Trouver un donneur</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row bg-bottom">
		<div class="col-3">
			<h6>&copy 2020, Ntchina</h6>
		</div>
	</div>
</div>